

/********** Template CSS **********/
:root {
    --primary: #7752FE;
    --secondary: #8E8FFA;
    --light: #C2D9FF;
    --dark: #190482;
}
a:hover {
    cursor: pointer;
}
button {
    background-color: transparent;
    outline: none;
    border: none;
   
}

body {
    background-color: #e4e4e47a;
}
button:focus {
    box-shadow: none !important;
}

.form-control:focus {
    color: #596277;
    background-color: #fff;
    border-color: rgb(163, 188, 247);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(11, 33, 84, 0.25);
}
.form-select {
    border-color: transparent !important; 
}

.form-select:focus {
    border-color: transparent !important; 
    outline: 0; 
    box-shadow: none;
}

.toast {
    background-color: #FFF;
}

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.submit-form-btn {
    display: block;
}


.submit-form-btn.active {
    display: none;
}

.submit-form-loading {
    display: none;
}

.submit-form-loading.active {
    display: block;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(0, 0, 0, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Facts ***/
.fact {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-bg-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*** Service ***/
.service .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.service .nav .nav-link.active {
    background: var(--primary);
}

.service .nav .nav-link.active h4 {
    color: #FFFFFF !important;
}

.car-icon-container {
    width: 150px;
    height: 150px;

}

.car-icon-container > img {
    max-width: 100%;
    
}

.vertical-line {
    width: 2px;
    background-color: var(--secondary);
    border-radius: 50%;
    padding: 0;
}
#brands-container {
    
}


/*** Booking ***/
.booking {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../img/carousel-bg-2.jpg) center bottom no-repeat;
    background-size: cover;
}

.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}

.downloadLink.main-page {
    color: var(--secondary);
    background-color: #fff;
    display: inline-block;
    transition: all .2s ease-in-out ;
}

.service {
    background-image: url('../img/camaro.jpg');
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;    
}

@media screen and (max-width: 576px){
    .service {

        background-position: 58%;
    }
}

.service_inner {
    position: relative;
    z-index: 2;
}

.service:before {
 content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* Черный цвет с прозрачностью 50% */
  z-index: 1;
    
}
.service_img-container {
    width: 80%;
    transition-timing-function: cubic-bezier(.3,1.06,.59,.95);
}


.service_img-container.transition {
    transition: all 1.9s ;
}


.service_img-container > img {
    max-width: 100%;
}

/*** Team ***/
.team-item .team-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transform: scale(0);
    transition: .5s;
}

.team-item:hover .team-overlay {
    transform: scale(1);
}

.team-item .team-overlay .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .team-overlay .btn:hover {
    color: #FFFFFF;
    background: var(--secondary)
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-item-comments .item-comments-img-container {
    position: relative;    
    display: inline-block;
    overflow: hidden;
}

.testimonial-item-comments .testimonial-text-container {
    position: relative;
}


.testimonial-item-comments .testimonial-text-container > button  {
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.testimonial-item-comments .item-comments-img {
    border-radius: 10%;
}

.testimonial-item-comments .item-comments-img-container::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #FFF;
    background-image: url('../img/icons/linkedin.png'); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 60px;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.95;
    border-radius: 0%;
    transition: top .3s;
    border: 20px solid #fff;
}

.testimonial-item-comments .item-comments-img-container:hover::after {
    top: 0;
    border-radius: 10%;
}



.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--dark);
}









/*** Footer ***/
.footer {
    background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .9)), url(../img/carousel-bg-1.jpg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer-mail-link:hover {
    filter: brightness(0.8);
}


@media(hover:hover) {
    button[data-show-modal="go-to-modal"]:hover {
        background-color: rgba(11, 33, 84, 0.05);
        border-radius: 1rem;
    }
    .downloadLink.main-page:hover {
        background-color: var(--secondary);
        color: var(--primary);
    }
}

@media(hover: none) {
    button[data-show-modal="go-to-modal"]:active {
        background-color: rgba(11, 33, 84, 0.05);
        border-radius: 1rem;
    }
    .main-page-file-download:active {
        background-color: var(--secondary);

    }
    .downloadLink.main-page:active {
        color: var(--primary);
    }
}